.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 100px auto;
  transform-style: preserve-3d;
  animation: rotate-cube 20s linear infinite;
}

.cube div {
  background: url('http://localhost:3000/ipfs.jpg');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.cube div:nth-child(1) {
  transform: translateZ(-100px);
}

.cube div:nth-child(2) {
  transform: translateZ(100px) rotateY(180deg);
}

.cube div:nth-child(3) {
  transform-origin: right;
  transform: translateZ(100px) rotateY(270deg);
}

.cube div:nth-child(4) {
  transform-origin: left;
  transform: translateZ(100px) rotateY(90deg);
}

.cube div:nth-child(5) {
  transform-origin: bottom;
  transform: translateZ(100px) rotateX(90deg);
}

.cube div:nth-child(6) {
  transform-origin: top;
  transform: translateZ(100px) rotateX(270deg);
}

@keyframes rotate-cube {
  0% {
    transform: rotateX(-25deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(-25deg) rotateY(0deg);
  }
}

.results {
  display: none;
  margin: 20px;
}

.results input {
  background-color: white;
  border: 1px solid #4a9fa1;
  padding: 0 10px;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
}

.results-uploaded {
  display: block;
}

.spacer {
  height: 10px;
}

.result-label {
  font-weight: bold;
  font-size: 16px;
}

.result-copy {
  border: 1px solid #4a9fa1;
  padding: 4px;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.result {
  height: 32px;
  line-height: 32px;
  display: grid;
  grid-template-columns: 90px 310px 50px;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.result svg {
  width: 16px;
  height: 16px;
  stroke: #ffffff;
  position: absolute;
  top: 7px;
  left: 8px;
}

.uploader input {
  display: none;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.upload-button {
  border-radius: 5px;
  margin: 0 auto 0;
  border: none;
  cursor: pointer;
  width: 430px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms, color 150ms ease-in-out;
  white-space: nowrap;
  color: #f7fafd;
  background-color: #65c3cb;
}

.is-uploading {
  background-color: #3d8f96;
}

.is-uploaded {
  background-color: #ffffff;
  color: #3d8f96;
}

.upload-button ul {
  height: 60px;
  margin: 0;
  padding: 0;
  transition: transform 300ms cubic-bezier(0, 0.65, 0.7, 0.9);
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: rotateX(0deg);
}

.is-uploading ul {
  transform-origin: 0 30px;
  transform: rotateX(90deg);
}

.is-uploaded ul {
  transform-origin: 0 90px;
  transform: rotateX(180deg);
}

.upload-button li {
  backface-visibility: hidden;
  display: block;
  transition: opacity 150ms;
  transform-origin: 50% 50%;
  transform: rotateX(0deg) translateZ(10px);
  width: 100%;
}

.upload-button li:nth-child(1) {
  opacity: 1;
  transform: rotateX(0deg) translateZ(10px);
}

.is-uploading li:nth-child(1),
.is-uploaded li:nth-child(1) {
  opacity: 0;
  transform: rotateX(0deg) translateZ(10px);
}

.upload-button li:nth-child(2) {
  opacity: 0;
  transform: rotateX(-90deg) translateZ(10px);
}

.is-uploading li:nth-child(2) {
  opacity: 1;
  transform: rotateX(-90deg) translateZ(10px);
}

.upload-button li:nth-child(3) {
  opacity: 0;
  transform: rotateX(-180deg) translateZ(10px);
}

.is-uploaded li:nth-child(3) {
  opacity: 1;
  transform: rotateX(-180deg) translateZ(10px);
}

.uploader svg {
  position: absolute;
  transition: opacity 150ms;
}

.uploader svg:nth-child(1) {
  fill: #f7fafd;
  opacity: 1;
  height: 30px;
  width: 33px;
  left: 20px;
  top: 15px;
}

.is-uploading svg:nth-child(1),
.is-uploaded svg:nth-child(1) {
  opacity: 0 !important;
}

svg:nth-child(2) {
  fill: transparent;
  left: 20px;
  top: 15px;
  width: 30px;
  height: 30px;
  stroke: #f7fafd;
  stroke-dasharray: 40;
  stroke-dashoffset: 80;
  opacity: 0;
}

.is-uploading svg:nth-child(2) {
  opacity: 1;
  animation: stroke 2s linear infinite forwards,
    rotate 1s linear infinite forwards;
}

.is-uploaded svg:nth-child(2) {
  opacity: 1;
  fill: #f7fafd;
  stroke-dasharray: 0;
}

svg:nth-child(3) {
  fill: transparent;
  left: 31px;
  top: 27px;
  width: 30px;
  height: 30px;
  stroke: transparent;
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  transform: translate3d(-5px, -3px, 0);
  transition: stroke 300ms;
  opacity: 0;
}

.is-uploaded svg:nth-child(3) {
  opacity: 1;
  animation: stroke 300ms ease-in-out forwards;
  stroke: #3d8f96;
}
